*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/assets/settings_shaker.properties
/app/src/main/res/values/shaker_settings.xml
