<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.angelectro.shakerdetection">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".feature.createissui.CreateIssueActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".feature.settingslack.SettingsSlackActivity"
            android:label="@string/settings_slack"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".feature.settingjira.SettingsJiraActivity"
                  android:label="@string/settings_jira"
                  android:screenOrientation="portrait"
                  android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"/>
    </application>

</manifest>
